<?xml version="1.0" encoding="UTF-8" standalone="no"?><hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url"><!--This block is modified by the ADCloud tool-->jdbc:mysql://34.85.169.167:3306/banking?characterEncoding=utf8</property>
		<property name="connection.username"><!--This block is modified by the ADCloud tool-->admin</property>
		<property name="connection.password"><!--This block is modified by the ADCloud tool-->password@123</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>



		
		<mapping class="com.presto.banking.actionForm.Bank_Detail"/>

		
		<mapping class="com.presto.banking.actionForm.Admin_Login"/>
		<mapping class="com.presto.banking.actionForm.Emp_Login"/>
		<mapping class="com.presto.banking.actionForm.Client_Login"/>


		
		<mapping class="com.presto.banking.actionForm.Admin_LoginMan"/>
		<mapping class="com.presto.banking.actionForm.Emp_LoginMan"/>
		<mapping class="com.presto.banking.actionForm.Client_LoginMan"/>


		
		
		<mapping class="com.presto.banking.actionForm.Admin_ClientChPW"/>
		<mapping class="com.presto.banking.actionForm.Admin_EmpChPW"/>

		
		<mapping class="com.presto.banking.actionForm.Admin_AddEmp"/>

		
		<mapping class="com.presto.banking.actionForm.Emp_AddClient"/>


		
		<mapping class="com.presto.banking.actionForm.Emp_AddTrans"/>

		
		<mapping class="com.presto.banking.actionForm.Client_View"/>





	</session-factory>
</hibernate-configuration>